@import url(../../colors.css);

form{
    background-color: #fff;
    height: auto;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--form-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--grey-text);
}

input{
    height: 50px;
    width: 250px;
    margin: 10px auto;
    background-color: var(--input-bg);
    border: none;
    padding: 5px 20px;
    font-family: inherit;
    color: inherit;
}

input::placeholder{
    font-family: inherit;
    color: inherit;
}

input:focus{
    outline: 2px solid var(--blue);
}

.button{
    height: 50px;
    width: 150px;
    margin: 20px auto;
    background: var(--blue);
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover{
    filter: brightness(1.1);
}

h1{
    color: var(--blue-text);
    margin: 40px auto 30px;
}

.forget-password-link{
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    margin: 10px auto;
}

.forget-password-link:hover{
    color: var(--grey-text-darker);
}