:root {
    --white: #ffffff;
    --black: black;
    --green: #21bc6f;
    --blue: #9198e5;
    --red: #ff4343;
    --form-shadow: #19c6b5;


    --grey-text: #838383;
    --grey-text-darker: #505050;
    --blue-text: #228b81;

    --main-background: linear-gradient(45deg, var(--green), var(--blue));
    --paint-bg: #5e628d;

    --input-bg: #ededed;

  }
  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }